@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap");
/* Margin and paddings */
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: baseline;
}

/* images */
img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

/* links as box */
a {
  display: block;
}

/* links in paragraph */
p a {
  display: inline;
}

/* No decoration in list */
li {
  list-style-type: none;
}

/* Smooth links */
html {
  scroll-behavior: smooth;
}

/* Disable main text tags */
h1, h2, h3, h4, h5, h6, p, span, strong, blockquote, i, b, u, em {
  font-size: 1.125rem;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

a {
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}

/* Avoid quotes pseudo elements problems */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

/* Text select */
::-moz-selection {
  background-color: #BD1C43;
  color: #FAF4EF;
}
::selection {
  background-color: #BD1C43;
  color: #FAF4EF;
}

/* Form typography */
form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  background-color: transparent;
  display: block;
  color: inherit;
}

/* Tables */
table, td, tr {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Avoid SVG problems */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* Text entrire web */
body {
  /*min-height: 100vh; */
  font-size: 100%;
  font-family: 'Space Grotesk', sans-serif;
  color: #BD1C43;
  background-color: #FEFFFF;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
}

/* General */
button {
  font-size: 16px;
  background: #BD1C43;
  color: #FEFFFF;
  height: 3rem;
  padding: 0.75rem 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.25rem;
}

button a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

button:hover {
  cursor: pointer;
  background-color: #7C2D44;
}

button span {
  margin-left: 0.75rem;
}

.button-link {
  background: transparent;
  color: #BD1C43;
  padding-left: 0;
  padding-right: 0;
}

.button-link a {
  font-weight: 500;
}

.button-link:hover {
  color: #1F191A;
  font-weight: 700;
  background: transparent;
}

section {
  margin-top: 7rem;
}

.mini-title {
  font-size: 0.875rem;
  font-weight: 500;
  color: #BD1C43;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

.title {
  font-size: 3rem;
  font-weight: 500;
  color: #1F191A;
  margin-bottom: 1.5rem;
}

.logo {
  background-color: #F2F2F2;
  width: 10rem;
  height: 2.5rem;
  border-radius: 40px;
}

.logo:hover {
  cursor: pointer;
  background-color: #6D6D6D;
}

/* Header */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.2rem 6rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 16rem;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #1F191A;
  font-size: 1rem;
  font-weight: 500;
}

.menu a:hover {
  font-weight: 700;
  color: #BD1C43;
}

/* Hero section */
.hero {
  margin: 0 3.28rem;
  position: relative;
  height: 680px;
  overflow: hidden;
  background: url(../assets/images/header.jpg) no-repeat center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__text-content {
  max-width: 46rem;
  padding: 0 6rem;
}

.hero__text-content h1 {
  font-size: 4.25rem;
  font-weight: 500;
  color: #FEFFFF;
  padding-bottom: 1.8rem;
  line-height: 5.1rem;
}

.hero__text-content p {
  font-size: 1.375rem;
  font-weight: 400;
  color: #FEFFFF;
  line-height: 150%;
  padding-bottom: 1.8rem;
  line-height: 2.0625rem;
}

/* Platform section */
.platform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.platform__text-content {
  width: 50rem;
  height: 11.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 0 0 4rem;
}

.platform__description {
  color: #1F191A;
  line-height: 1.8rem;
}

.platform__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  grid-gap: 2rem;
  margin: 0 7rem;
}

.card {
  background-color: #BD1C43;
  padding: 40px;
  min-height: 33rem;
}

.card p {
  color: #FEFFFF;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.8rem;
  margin-top: 1.5rem;
}

.card img {
  max-width: 6.25rem;
  max-height: 6.25rem;
}

.card__title {
  font-size: 1.5rem;
  font-weight: 500;
  color: #FEFFFF;
  margin-top: 1.5rem;
}

/* about us  section */
.about-us {
  margin-left: 3.5rem;
  margin-right: 3.5rem;
  position: relative;
  height: 50.875rem;
  overflow: hidden;
  background-image: url("../assets/svg/vector-element-1.svg"), url("../assets/svg/vector-element-2.svg");
  background-size: 8.75rem, 16.75rem;
  background-position: 22.25rem -3rem, 32.4375rem 38.375rem;
  background-repeat: no-repeat, no-repeat;
  background-color: #FAF4EF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-us__background {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-us__text-content {
  max-width: 34.25rem;
  padding-left: 6rem;
}

.about-us__description {
  color: #1F191A;
  margin-bottom: 1.5rem;
}

.about-us__image {
  padding-right: 6rem;
}

/* Press section */
.press {
  margin-left: 7rem;
  margin-right: 7rem;
}

.press__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.press__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  grid-gap: 2rem;
}

.press__cards .card {
  background-color: #FAF4EF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 27.5rem;
}

.press__cards .card p {
  color: #1F191A;
  font-size: 1.375rem;
}

.press__cards .card .card__date {
  font-size: 14px;
  color: #6D6D6D;
  margin-top: 13px;
}

/* Footer */
footer {
  background-color: #1F191A;
  margin-top: 7rem;
  padding: 6.25rem 7rem 4rem;
  height: 27.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #F2F2F2;
  font-size: 0.875rem;
  font-weight: 400;
  position: relative;
  z-index: 10;
}

.footer__sections {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
  grid-gap: 2rem;
}

.footer__list-title {
  color: #6D6D6D;
}

.footer__list-item {
  margin: 1rem 0;
}

.footer__list-item a {
  font-size: 0.875rem;
}

.footer__list-item a:hover {
  background-color: transparent;
  font-weight: 700;
}

.footer__legal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 2rem 0;
}

.footer__legal p, .footer__legal span {
  font-size: 0.875rem;
}

.footer__copyright {
  color: #A9B2B5;
  opacity: 0.5;
}

.footer__conditions {
  width: 32.75rem;
  text-align: right;
  color: rgba(255, 255, 255, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer__conditions span {
  margin-left: 0.3125rem;
  font-size: 0.8125rem;
}

.footer__conditions a {
  font-size: 0.8125rem;
}

.footer__conditions a:hover {
  color: #6D6D6D;
  background-color: transparent;
  font-weight: 500;
}
